@import url("../src/vendor/normalize.css");
.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 10px;
}

.header__logo {
  display: block;
  font-size: 24px;
  line-height: 26px;
  color: #5621c8;
  width: 250px;
  text-decoration: none;
}


.menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
    gap: 20px;
}

.menu__link {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.menu__link:hover {
  color: #5621c8;
  text-decoration: underline;
}

.search {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  max-width: 950px;
}
@media only screen and (max-width: 600px) {
  .search {
    max-width: 90%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.properties__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 0;
  place-items: center;
  max-width: 950px;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .properties__list {
    grid-template-columns: 1fr 1fr;
    max-width: 580px;
  }
}

@media only screen and (max-width: 600px) {
  .properties__list {
    grid-template-columns: 1fr;
  }
}

.map__inputs {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.map-container {
  height: 400px;
  }